
.nav-wrapper{
    box-shadow: 5px 10px;
}
.brand-logo {
    font-family: 'Fascinate', cursive;}
#Disclaimer {
    text-align: center;
    font-size: 25px;
    font-family: 'Fascinate', cursive;
    color: darkseagreen;
}
#watchlist {
    text-emphasis: bold;
    background-origin: padding-box;
    
}
.container {
    border-color:#9ccc65;
    border-style:solid;
    border-width: medium;


}
.green-text {
    font-family: 'Comfortaa';
}
#displayDiv{
    border: solid;
    color: #9ccc65;
    padding-top: 500px;
  padding-right: 3px;
  padding-bottom: 500px;
  padding-left: 80px;
}
.Animated{
    align-items: center;
}
